<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="BlockPhpAndWpScannerProbes" stopProcessing="true">
						<match url="(\.php$)|(^wp-)|(^wp/)|(^wordpress/)|(^xmlrpc\.php)" ignoreCase="true" />
						<action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
					</rule>
				</rules>
			</rewrite>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\DomuWave.Unified.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.web>
		<compilation tempDirectory="D:\AspnetTemp\site\vizadomus.it" />
	</system.web>
</configuration>