################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Bizlio.Domain/bin/Debug/net8.0
/Bizlio.Domain/bin/Debug/net9.0
/Bizlio.Application/obj
/Bizlio.Application/bin/Debug/net8.0
/Bizlio.Application/bin/Debug/net9.0
/Bizlio.Infrastructure/bin/Debug/net9.0
/Bizlio.Infrastructure/obj
/Bizlio.Shared/bin/Debug/net9.0
/Bizlio.Shared/obj
/Bizlio.Tests/bin/Debug/net9.0
/Bizlio.Tests/obj
/Bizlio.Web/bin/Debug/net9.0
/Bizlio.Web/obj
/Bizlio.Web/wwwroot
/Bizlio.Web/wwwroot/assets
/Bizlio.Web/wwwroot/assets/js
/.vs
/Blizio.Auth/.vs
/Blizio.Auth/Auth.Microservice/bin/Debug/net8.0
/Blizio.Auth/Auth.Services/bin/Debug/net8.0
/Bizlio.Application/Logs/auth.log
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Application.dll
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Application.exe
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Application.pdb
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Services.dll
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Services.pdb

/Blizio.Auth/Auth.Microservice/Logs/auth.log
/Bizlio.Domain/obj/Debug/net8.0/Bizlio.Domain.AssemblyInfo.cs
/Bizlio.Domain/obj/Debug/net8.0/Bizlio.Domain.AssemblyInfoInputs.cache
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Domain.dll
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Domain.pdb
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Shared.dll
/Bizlio.Application/bin/Debug/net8.0/Bizlio.Shared.pdb
/Bizlio.Domain/bin/Debug/net8.0/Bizlio.Domain.dll
/Bizlio.Domain/bin/Debug/net8.0/Bizlio.Domain.pdb
/Bizlio.Domain/obj/Debug/net8.0/Bizlio.Domain.dll
/Bizlio.Domain/obj/Debug/net8.0/Bizlio.Domain.pdb
/Bizlio.Domain/obj/Debug/net8.0/Bizlio.Domain.sourcelink.json
/Bizlio.Domain/obj/Debug/net8.0/ref/Bizlio.Domain.dll
/Bizlio.Domain/obj/Debug/net8.0/refint/Bizlio.Domain.dll
/Bizlio.Infrastructure/bin/Debug/net8.0/Bizlio.Domain.dll
/Bizlio.Infrastructure/bin/Debug/net8.0/Bizlio.Domain.pdb
/Bizlio.Infrastructure/bin/Debug/net8.0/Bizlio.Services.dll
/Bizlio.Infrastructure/bin/Debug/net8.0/Bizlio.Services.pdb
/Bizlio.Infrastructure/bin/Debug/net8.0/Bizlio.Shared.dll
/Bizlio.Infrastructure/bin/Debug/net8.0/Bizlio.Shared.pdb
/Bizlio.Shared/bin/Debug/net8.0/Bizlio.Shared.dll
/Bizlio.Shared/bin/Debug/net8.0/Bizlio.Shared.pdb
/DomuWave.Application/bin/Debug/net8.0
/DomuWave.Application/.config
/DomuWave.Application/obj
/DomuWave.Infrastructure/bin/Debug/net8.0
/DomuWave.Web/bin/Debug/net9.0
