.tabcard[data-v-42ea0b6e]{background:var(--card-bg);border:var(--card-border);padding:2rem;border-radius:10px;margin-bottom:1rem}.p-tab .p-tab-active[data-v-42ea0b6e]{border-bottom:2px solid black!important}
